<a href="https://colab.research.google.com/github/VeekshithaKulal/Data-science/blob/main/store_orders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic python functions

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/store_orders - pandas 3.csv")

In [ ]:
print(df.to_string())

   Order_ID Customer_Name     Product     Category  Quantity  Price  Order_Date     City
0      1001         Priya      Laptop  Electronics         1  55000  2024-05-14    Delhi
1      1002         Arjun       Shoes      Fashion         2   2500  2024-05-16   Mumbai
2      1003        Simran      Mobile  Electronics         1  30000  2024-05-18  Chennai
3      1004         Kabir       Watch  Accessories         3   1500  2024-05-18    Delhi
4      1005         Arjun  Laptop Bag  Accessories         1    800  2024-05-20     Pune
5      1006         Priya      Mobile  Electronics         1  29000  2024-05-22    Delhi

In [ ]:
# Load the dataset and convert Order_Date to datetime.
df=df.rename(columns={"Order_Date":"datetime"})

In [ ]:
print(df.to_string())

   Order_ID Customer_Name     Product     Category  Quantity  Price    datetime     City
0      1001         Priya      Laptop  Electronics         1  55000  2024-05-14    Delhi
1      1002         Arjun       Shoes      Fashion         2   2500  2024-05-16   Mumbai
2      1003        Simran      Mobile  Electronics         1  30000  2024-05-18  Chennai
3      1004         Kabir       Watch  Accessories         3   1500  2024-05-18    Delhi
4      1005         Arjun  Laptop Bag  Accessories         1    800  2024-05-20     Pune
5      1006         Priya      Mobile  Electronics         1  29000  2024-05-22    Delhi

In [ ]:
# Create a new column "Total_Amount" = Quantity Ã— Price
df["Total_Amount"]=df["Quantity"]*df["Price"]

In [ ]:
print(df.to_string())

   Order_ID Customer_Name     Product     Category  Quantity  Price    datetime     City  Total_Amount
0      1001         Priya      Laptop  Electronics         1  55000  2024-05-14    Delhi         55000
1      1002         Arjun       Shoes      Fashion         2   2500  2024-05-16   Mumbai          5000
2      1003        Simran      Mobile  Electronics         1  30000  2024-05-18  Chennai         30000
3      1004         Kabir       Watch  Accessories         3   1500  2024-05-18    Delhi          4500
4      1005         Arjun  Laptop Bag  Accessories         1    800  2024-05-20     Pune           800
5      1006         Priya      Mobile  Electronics         1  29000  2024-05-22    Delhi         29000

In [ ]:
# Identify top 3 highest-value orders.
df.sort_values(by='Total_Amount',ascending=False).head(3)

,Order_ID,Customer_Name,Product,Category,Quantity,Price,datetime,City,Total_Amount
0,1001,Priya,Laptop,Electronics,1,55000,2024-05-14,Delhi,55000
2,1003,Simran,Mobile,Electronics,1,30000,2024-05-18,Chennai,30000
5,1006,Priya,Mobile,Electronics,1,29000,2024-05-22,Delhi,29000

In [ ]:
# Group by Category and show total revenue.
df.groupby("Category")["Total_Amount"].sum()

Category
Accessories      5300
Electronics    114000
Fashion          5000
Name: Total_Amount, dtype: int64

In [ ]:
# Group by City and find number of orders from each city.
df.groupby("City")["Quantity"].sum()

City
Chennai    1
Delhi      5
Mumbai     2
Pune       1
Name: Quantity, dtype: int64

In [ ]:
# Find which customer spent the most money overall.
df.groupby("Customer_Name")["Price"].sum().sort_values(ascending=False).head(1)

Customer_Name
Priya    84000
Name: Price, dtype: int64

In [ ]:
# Extract all orders during May 2024 (using query / datetime filtering)
df.query("datetime>='2024-05-01' and datetime <='2024-05-31'")

,Order_ID,Customer_Name,Product,Category,Quantity,Price,datetime,City,Total_Amount,prediction
0,1001,Priya,Laptop,Electronics,1,55000,2024-05-14,Delhi,55000,High value
1,1002,Arjun,Shoes,Fashion,2,2500,2024-05-16,Mumbai,5000,normal
2,1003,Simran,Mobile,Electronics,1,30000,2024-05-18,Chennai,30000,High value
3,1004,Kabir,Watch,Accessories,3,1500,2024-05-18,Delhi,4500,normal
4,1005,Arjun,Laptop Bag,Accessories,1,800,2024-05-20,Pune,800,normal
5,1006,Priya,Mobile,Electronics,1,29000,2024-05-22,Delhi,29000,High value

In [ ]:
# Detect and remove duplicate orders (if any).
# remove (df.drop_duplicates())
df.duplicated().any()

np.False_

In [ ]:
# Find revenue trend per day (daily sales).
df.groupby("datetime")["Total_Amount"].sum()

datetime
2024-05-14    55000
2024-05-16     5000
2024-05-18    34500
2024-05-20      800
2024-05-22    29000
Name: Total_Amount, dtype: int64

In [ ]:
# Add a column:

# If Total_Amount > 20,000 â†’ "High Value"

# else â†’ "Normal"

df["prediction"]=df["Total_Amount"].apply(lambda x: "High value" if x >20000 else "normal")
print(df.to_string())

   Order_ID Customer_Name     Product     Category  Quantity  Price    datetime     City  Total_Amount  prediction
0      1001         Priya      Laptop  Electronics         1  55000  2024-05-14    Delhi         55000  High value
1      1002         Arjun       Shoes      Fashion         2   2500  2024-05-16   Mumbai          5000      normal
2      1003        Simran      Mobile  Electronics         1  30000  2024-05-18  Chennai         30000  High value
3      1004         Kabir       Watch  Accessories         3   1500  2024-05-18    Delhi          4500      normal
4      1005         Arjun  Laptop Bag  Accessories         1    800  2024-05-20     Pune           800      normal
5      1006         Priya      Mobile  Electronics         1  29000  2024-05-22    Delhi         29000  High value